<template>
  <div id="appSettings">
    <h3>Appearance</h3>
    <p>
      <label>
        Theme
        <select v-model="appTheme" class="uk-select">
          <option value="light">Light</option>
          <option value="dark">Dark</option>
          <option value="system">System</option>
        </select>
      </label>
    </p>
  </div>
</template>

<script>
// Export main app
export default {
  name: "AppSettings",

  data: function() {
    return {};
  },

  computed: {
    appTheme: {
      get() {
        return this.$store.state.globalSettings.appTheme;
      },
      set(value) {
        this.$store.commit("changeSetting", ["appTheme", value]);
      }
    }
  },

  watch: {
    appTheme() {
      console.log("Saving appTheme setting");
      this.setLocalStorageObj("appTheme", this.appTheme);
    }
  },

  mounted() {
    // Try loading settings from localStorage. If null, don't change.
    this.appTheme = this.getLocalStorageObj("appTheme") || this.appTheme;
  }
};
</script>

<style lang="less"></style>
